NEXT_PUBLIC_SITE_URL=https://crazy-coderz-technologies-tsx5.vercel.app/
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC94PwUUPF80sIarXzCEm1PUOnyjb8e8XU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=crazy-coderz-technologie-84d4c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=crazy-coderz-technologie-84d4c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=crazy-coderz-technologie-84d4c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=368273337210
NEXT_PUBLIC_FIREBASE_APP_ID=1:368273337210:web:e29a5351d2446f41fb84c3
